@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  /* background-color: #8d8a8a; */
  background-color: #9dce89;
  max-width: 1024px;
  margin: 0 auto;
  color: #fff;
}

/* Nav bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  /* margin-left: 20px;
    margin-right: 20px; */
  text-align: center;
  /* background-color: rgb(19, 19, 19,0.4); */
  background-color: rgba(88, 88, 88, 0.171);
  /* position: fixed; */
  /* overflow: hidden; */
  /* width: 1024px; */
}

header a {
  font-size: 2rem;
  text-decoration: none;
  color: #f5f5f5;
}

ul li a {
  list-style: none;
  font-size: 1.2rem;
}

ul li:hover {
  /* border-bottom: 2px solid #fff; */
  background-color: #f5f5f5;
  transition: 0.7s ease;
}
ul li a:hover {
  color: #000;
  transition: 0.7s ease;
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

/* ul {
    margin-right: 5px;
} */

ul li.active {
  border-bottom: 2px solid #fff;
}

.logo {
  margin-left: 5px;
}

.logo a {
  text-transform: uppercase;
}

.social {
  margin-right: 10px;
}

.social i {
  padding: 0 10px;
  font-size: 1.4rem;
}

/* Main  */

.container {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.wrapper {
  grid-row-gap: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 6fr;
}

.blog-1 {
  grid-column: 1/2;
  grid-row: 1;
}

.blog-2 {
  grid-column: 2/2;
  grid-row: 1;
}

.blog-3 {
  grid-column: 1/2;
  grid-row: 2;
}

.blog-4 {
  grid-column: 2/2;
  grid-row: 2;
}

.blog-5 {
  grid-column: 1/2;
  grid-row: 3;
}

.blog-6 {
  grid-column: 2/2;
  grid-row: 3;
}

/* Footer  */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px 0;
  min-height: 30vh;
}

.logo {
  margin-left: 5px;
}

.logo a {
  font-size: 2rem;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
}

.logo p {
  font-size: 1rem;
  margin-top: 35px;
  text-align: left;
}

ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #f5f5f5;
}

.foot-social {
  /* margin-top: 300px;
  margin-bottom: 50px; */
  padding-bottom: 30px;
  width: 20%;
  text-align: center;
}

.foot-social i {
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  header {
    min-height: 16vh;
  }
  /* .social a i {
    display: none;
  }

  .container {
    height: 50vh;
    font-size: 2rem;
  }

  .container p {
    font-size: 20px;
    margin-top: 0;
  }

  .wrapper {
    box-sizing: border-box;
  }

  .wrapper h1 {
    font-size: 1.8rem;
    padding-bottom: 20px;
  }

  .footer ul li {
    display: inline;
  }

  .foot-social {
    text-align: center;
    width: 100%;
  } */
}
